body {
    margin: 0% 10% 0% 10%;
    background-image: url("../static/img/bg.png");
}

#container {
    background-color: white;
    border: 10px solid white;
}

h2 {
    border-bottom: 2px dashed blue;
}

.contentDivs {
    border: 4px solid #c2e9e9;
    background-color: #e8fbfb;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 0px;
}

#subHeader {
    font-size: 14px;
    background-color: yellow;
}

.inline {
    display: inline-block;
    width: fit-content;
}

img {
    float: right;
}

#header {
    text-align: right;
    background-color: #a8f0f0;
}

.containerOverflow {
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

#friends {
    margin: 10px 5px 0px 0px;
    padding: 5px 0px 0px 5px;
    height: fit-content;
    background-color: cyan;
    border: 5px dashed blue;
}

h1:hover,
h2:hover,
h3:hover,
p:hover,
a:hover {
    background-color: yellow;
}

/* have to add padding for image to show hover effect for images */
img:hover {
    padding: 4px 4px 4px 4px;
    background-color: yellow;
}
