body {
    margin: 0% 10% 0% 10%;
    background-image: url("../static/img/bg.png");
}

#container {
    background-color: white;
    border: 5px solid green;
}

h2 {
    border: 5px solid purple;
}

.contentDivs {
    border: 5px solid blue;
    background-color: #e8fbfb;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 0px;
}

#subHeader {
    border: 5px solid orange;
}

.inline {
    display: inline-block;
    width: fit-content;
}

img {
    display: block;
}

#header {
    border: 5px solid red;
}
